<template>
  <button @click="onAnswerClicked" class="answer-button">
    {{ txt }}
  </button>
</template>

<script>
export default {
  name: "Answer",
  props: {
    txt: String,
    correct: Boolean,
  },

  methods: {
    onAnswerClicked() {
      this.$emit("answer-clicked", { correct: this.correct, txt: this.txt });
    },
  },
};
</script>

<style>
/*
.answer-button {
   background-color: yellow;
  height: 100px;
  width: 100%;
  font-size: 20px;
}
*/
</style>
