<template>
  <div id="question">
    <h2 style="question-txt" v-html="question">{{ question }}</h2>
    <p>You selected: {{ selectedAnswer }}</p>
    <p>Correct answer: {{ correctAnswer }}</p>
  </div>
</template>

<script>
export default {
  name: "Question",
  props: {
    question: String,
    selectedAnswer: String,
    correctAnswer: String,
    correct: Boolean,
  },
};
</script>

<style></style>
