<template>
  <div class="container-quiz-score">
    <div class="results-container">
      <end-screen-question
        v-for="(question, index) in questions"
        :key="question.txt"
        :index="index"
        :question="question.question"
        :correctAnswer="question.correct_answer"
        :selectedAnswer="question.selectedAnswer.txt"
        :correct="question.selectedAnswer.correct"
        v-bind:style="[
          question.selectedAnswer.correct
            ? { 'background-color': '#1eff009c' }
            : { 'background-color': '#ff000056' },
        ]"
      ></end-screen-question>
    </div>

    <article id="score-information">
      <h3>Congratulations you've completed the Quiz</h3>
      <div class="quiz-body">
        <div id="score">
          <p>
            You answered {{ score / 10 }} out of 10 questions correctly! <br />
            You got a total score of {{ score }}
          </p>
        </div>
        <router-link to="trivia"><h1>Play Again!</h1></router-link>
      </div>
    </article>
  </div>
</template>

<script>
import EndScreenQuestion from "./EndScreenQuestion.vue";

export default {
  components: { EndScreenQuestion },
  name: "EndScreen",
  props: {
    header: String,
    score: Number,
    questions: Array,
  },
};
</script>

<style>
h1 {
  color: #d0ff00;
  padding: 0.26em;
  text-decoration: underline;
}
.results-container {
  background: #2e2e2e6b;
  width: 40%;
  height: 99%;
  float: right;
  overflow: auto;
  display: grid;
  grid-template: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

#question > h2 {
  width: 95%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 70%;
  right: 0;
  grid-area: question;
  font-size: 2.6rem;
}
#question > p {
  display: inline-block;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 15px;
  width: 40%;
}
.container-quiz-score {
  background-image: linear-gradient(45deg, #6303b1, #ff0099);
  position: relative;
  font-size: 2.4rem;
  margin: 0px auto;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 8px 12px rgba(51, 51, 51, 0.555);
}
#score-information {
  position: absolute;
  text-align: center;
  width: 50%;
  top: 30%;
  float: left;
}
.correct-answer {
  background-color: green;
}
</style>
