<template>
  <div class="container-start-game">
    <router-link to="trivia">
      <article id="start-game" data-text="StartGame">StartGame</article>
      <span class="gradient"></span>
      <span class="spotlight"></span>
    </router-link>
  </div>
</template>

<script>
export default {
  name: "Home",
};
</script>

<style scoped>
.container-start-game {
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
  position: relative;
  overflow: hidden;
  filter: brightness(200%);
}

#start-game {
  background-color: black;
  color: white;
  font-size: 6.2rem;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  position: relative;
}
#start-game::before {
  content: attr(data-text);
  position: absolute;
  color: white;
  filter: blur(0.02em);
  mix-blend-mode: difference;
}

.gradient {
  position: absolute;
  background: linear-gradient(
    45deg,
    rgb(106, 233, 55),
    rgb(28, 144, 212),
    rgb(206, 28, 96),
    gold,
    red
  );
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
}

.spotlight {
  position: absolute;
  top: -100%;
  left: -100%;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle, white, transparent 25%) center / 25% 25%,
    radial-gradient(circle, white, black 25%) center / 12.5% 12.5%;
  animation: light 15s linear infinite;
  mix-blend-mode: color-dodge;
}
@keyframes light {
  to {
    transform: translate(50%, 50%);
  }
}
</style>
