<template>
  <div id="question">
    <h2 style="question-txt" v-html="txt">{{ txt }}</h2>
  </div>
</template>

<script>
export default {
  name: "Question",
  props: {
    txt: String,
  },
};
</script>

<style></style>
