<template>
  <div id="trivia">
    <h1 class="titles">Question {{ currentIndex + 1 }} of 10</h1>
    <article class="container-trivia">
      <section v-if="currentQuestion">
        <question :txt="currentQuestion.question" />
        <div class="answers-container">
          <answer
            v-html="answer.txt"
            v-for="answer in answers"
            @answer-clicked="selectAnswer"
            :txt="answer.txt"
            :correct="answer.correct"
            :key="answer.index"
          />
        </div>
      </section>
    </article>

    <h1 class="titles">Current score: {{ score }}</h1>
    <button class="restart-btn" @click="restart"><h1>Restart</h1></button>

    <ul v-if="errors && errors.length">
      <li v-for="(error, index) of errors" :key="index">
        {{ index + 1 }} - {{ error.message }}
      </li>
    </ul>
  </div>
</template>

<script>
import axios from "axios";
import Question from "./Question.vue";
import Answer from "./Answer.vue";
export default {
  components: {
    Question,
    Answer,
  },
  created() {
    this.getQuestions();
  },
  computed: {
    currentQuestion: function() {
      return this.questions[this.currentIndex];
    },
    answers: function() {
      let answers = [...this.currentQuestion.incorrect_answers].map((txt) => ({
        txt: txt,
        correct: false,
      }));
      answers.push({ txt: this.currentQuestion.correct_answer, correct: true });
      return this.shuffleList(answers);
    },
  },
  data() {
    return {
      question: "",
      currentIndex: 0,
      questions: [],
      errors: [],
      score: 0,
    };
  },

  methods: {
    getQuestions() {
      axios
        .get("https://opentdb.com/api.php?amount=10")
        .then((response) => (this.questions = response.data.results))
        .catch((error) => {
          this.errors.push(error);
        });
    },
    shuffleList(arr) {
      for (let i = arr.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * i);
        const temp = arr[i];
        arr[i] = arr[j];
        arr[j] = temp;
      }
      return arr;
    },
    selectAnswer(selectedAnswer) {
      this.currentQuestion.selectedAnswer = selectedAnswer;
      this.updateScore(selectedAnswer.correct);
      this.nextQuestion();
    },
    nextQuestion() {
      if (this.currentIndex < 9) {
        this.currentIndex++;
      } else {
        const score = this.score;
        const questions = this.questions;
        this.$router.push({
          name: "EndScreen",
          params: { score, questions },
        });
      }
    },
    updateScore(isCorrect) {
      if (isCorrect) {
        this.score += 10;
      }
      return;
    },
    restart() {
      window.location.reload();
    },
  },
};
</script>

<style scoped>
#trivia {
  width: 100%;
  height: 70%;
  background-image: linear-gradient(45deg, #6303b1, #ff0099);
  transform: skewY(-11deg);
  text-align: center;
}
.container-trivia {
  position: relative;
  transform: skewY(11deg);
  height: 83%;
  width: 80%;
  margin: auto;
}

#question {
  padding-top: 6em;
  height: 30%;
}
.answers-container {
  position: absolute;
  width: 80%;
  margin: auto;
  bottom: 18%;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.answer-button {
  color: rgb(221, 221, 221);
  font-weight: 700;
  font-size: 2.8rem;
  background-color: rgba(51, 51, 51, 0.219);
  margin-bottom: 1em;
  margin-right: 1em;
  height: 150px;
  border: 1px solid #d0ff0086;
  border-radius: 4px;
  outline: none;
}
.answer-button:hover {
  background-color: #ffffff1e;
  color: #d0ff00be;
  font-weight: bold;
}

.titles {
  font-size: 4.2rem;
  height: 128px;
  position: relative;
  color: #d0ff00;
  background: #333333;
  border-bottom: 3px solid #d0ff00;
}
.titles:after {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: #333333;
  border-bottom: 3px solid #d0ff00;
  border-right: 50px solid #d0ff00;
  transform-origin: bottom left;
  transform: skew(-30deg, 0deg);
}

.restart-btn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.restart-btn:hover > h1 {
  color: rgb(221, 221, 221);
  font-size: 2.6rem;
}

@media screen and (max-width: 960px) {
  h1,
  h2 {
    font-size: 2.4rem;
  }

  .answer-button {
    font-size: 1.8rem;
    border-radius: 4px;
    height: 120px;
  }
  .container-trivia {
    width: 100%;
  }
  #question {
    padding-top: 5em;
    width: 100%;
  }
}

@media screen and (min-width: 980px) {
  h1,
  h2 {
    font-size: 2.4rem;
  }

  .container-trivia {
    height: 100%;
  }
  #trivia {
    height: 70%;
    margin-top: -10%;
  }
  .answers-container {
    margin: auto;
    bottom: 30%;
    width: 50%;
  }
  .answer-button {
    font-size: 1.8rem;
    border-radius: 4px;
  }
  .container-trivia {
    width: 100%;
  }
  #question {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 70%;
    right: 0;
    width: 50%;
  }
}

@media screen and (min-width: 2000px) {
  html {
    zoom: 45%;
  }
  h1 {
    height: 136px;
    font-size: 4.8rem;
  }
  h2 {
    font-size: 3.4rem;
  }
  #question {
    padding-top: 10em;
    width: 100%;
  }
  .answer-button {
    height: 100px;
    font-size: 1.6rem;
    border-radius: 4px;
  }
}
</style>
