* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    zoom: 50%
}

body {
    background-color: #333;
    color:rgb(221, 221, 221);;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    font-size: 2.6rem;
    padding: 1.23em;
}

a {  
    text-decoration: none;
}


#app {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    user-select: none;
}




@media screen and (max-width: 960px) {
    h1 {
        font-size: 2.4rem;
    }
    h2 {
        font-size: 2.1rem;
    }
    .answer-button {
        font-size: 1.8rem;
        border-radius: 4px;
    }
	#start-game {
        font-size: 3.4rem;
    }
    .container-question>section {
        width: 95%;
    }
    #play-again {
        width: 100%;
    }
}
@media screen and (min-width: 2000px) {
    html {
        zoom: 45%;
    }
    h1 {
        height: 136px;
        font-size: 4.2rem;
    }
    h2 {
        font-size: 2.6rem;
    }
    .answer-button {
        height: 100px;
        font-size: 1.6rem;
        border-radius: 4px;
    }
	#start-game {
        font-size: 3.4rem;
    }
    .container-trivian {
        height: 80%;
    }
    .container-question>section {
        width: 50%;
    }

}